/* Estilos gerais */
body {
  background-color: #ab8096;
  background-image: radial-gradient(circle at center center, #ebe4e4, #ffffff), repeating-radial-gradient(circle at center center, #e3e3f1, #dedfe9, 15px, transparent 30px, transparent 15px);
  background-blend-mode: multiply;
}

/* Animação de entrada */
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

/* Estilos do menu */
ul li {
  display: inline-block;
  margin: 1rem 1rem;
  border-radius: 5px;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

ul li:after {
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 1;
}

ul li:hover {
  transform: scale(1.25, 1.25);
}

ul li:hover::after {
  opacity: 1;
}

/* Estilos de fonte personalizada */
.fonte-personalizada {
  font-family: Arial, sans-serif;
  color: white;
  transition: transform 0.3s ease;
  -webkit-text-stroke: 2px rgb(255, 255, 255);

}

/* Estilos de texto centralizado */
.centralizado,.h2 {
  text-align: center;
  margin-top: 200px;
  font-size: 72px;
  background: linear-gradient(290deg, #ffcd04, #005ec3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Estilos do container */
.container{
  position: relative;
  margin-top: -20px; /* Ajuste o espaçamento superior conforme necessário */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px; /* Ajuste o tamanho do container conforme necessário */
  height: 400px; /* Ajuste o tamanho do container conforme necessário */
  border-radius: 50%; /* Faz a borda circular */
  background-color: #f0f0f0; /* Adicione uma cor de fundo para a imagem */
  overflow: hidden;
  transform: translateY(-57%);
}

/* Estilos de imagem personalizada */
.imagem-personalizada {
  max-width: 300%;
  max-height: 300%;
  right: 70%;
  transform: translateY(50%);
}

.brilho{
 position: absolute;
 width: 10%;
 height: 10%;
 background: linear-gradient(to right, transparent, #ffffff, transparent);
 border-radius: 10%;
 animation: percorrerCirculo 4s linear infinite;
 z-index: -1;
}

@keyframes percorrerCirculo{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

/* Estilos dos links de comentários */
.comentario-link, .a {
  font-family: Arial, sans-serif;
  position: fixed;
  top: 0px;
  right: 0px;
  background: linear-gradient(270deg, #4a3d11, #0a336d);
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px rgb(249, 249, 249);
  -webkit-text-fill-color: transparent;
}

/* Estilos do link de voltar */
.voltar-link {
  font-family: Arial, sans-serif;
  position: absolute;
  top: -1;
  right: -2;
  color: purple;
  -webkit-text-stroke: 1px rgb(182, 177, 177);
}

/* Estilos dos comentários */
.commentForm {
  top: -30;
  right: -30;
}

.comentario_ {
  background-color: rgba(50, 78, 112, 0.5);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nome-amarelo {
  color: yellow;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
}

.nome-laranja {
  color: rgb(179, 134, 8);
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.secao-comentario {
  font-family: Arial, sans-serif;
  color: white;
}

.form-comentario {
  font-family: Arial, sans-serif;
  color: white;
}

#horario{
  font-family: Arial, sans-serif;
  color: #ffffff;
  font-size: 22px;
}

#horario-atual{
  font-family: Arial, sans-serif;
  color: #ffffff;
  font-size: 22px;
}

@page{
  size: A4;
  margin: 1cm;
}

#repos-list {
  list-style: none;
  padding: 0;
}

#repos-list li {
  margin-bottom: 10px;
}

#repos-list li a {
  text-decoration: none;
  color: #0366d6;
  font-weight: bold;
}

#readme-content {
  margin-top: 20px;
}

.catalog-container{
  position: relative;
  margin: 20px auto;
  max-width: 400px;
}

.arrow{
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 30px;
}

#arrow-left{
  left: 10px;
}

#arrow-right{
  right: 10px;
}

.image-container{
  text-align: center;
  margin-top: -200px;

}

img {
  max-width: 250%;
  max-height: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttons{
  text-align: center;
  margin-top: 10px;
}

.name{
  color: white;
  text-align:center;
  margin-top: -480px;
  font-family: Arial, sans-serif
}

button{
  font-size: 24px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  margin-top: -20;
}

@media (max-width: 600px){
  img {
    max-height: 250px;
  }
}

@media (max-width: 400px){
  img {
    max-height: 150px;
  }
}

@keyframes shine{
  0% {opacity: 2.0;}
  50% {opacity: 1.5;}
  100%{opacity: 0.5;}
}

.image-container:hover{
 animation: shine 1.5s infinite;
}

/* Estilos para posicionar os elementos no canto superior direito */
#linkedin, #github, #instagram {
  position: fixed;
  top: 20px;
  right: 20px;
      }

      /* Ajuste o espaçamento entre os elementos conforme necessário */
      #linkedin {
          margin-top: 0;
      }

      #github {
          margin-top: 120px;
      }

      #instagram {
          margin-top: 240px;
      }

 /* Estilos para a seção das logos */
 .logos-section {
  text-align: center;
  margin-top: 500px; /* Define a distância entre a seção anterior e as logos */
}

/* Estilos para o container que envolve as logos */
.logos-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para as imagens das logos */
.logos-container img {
  max-width: 100px; /* Ajuste a largura máxima das logos conforme necessário */
  margin: 10px; /* Define a distância entre as logos */
  background-color: #fff;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.1), -10px -10px 20px rgba(255,255,255,0.5);
  animation: jumpAnimation 1s infinite;
}

/* Define a animação de pulo */
@keyframes jumpAnimation {
  0%,100% {
    transform: translateY(0);
}
  50%{
    transform: translateY(-20px);
  }
}

.repositories{
  font-family: Arial, sans-serif;
  color: #ffcd04
}
.my-rep {list-style: none;
  padding: 5;
  margin: 10;
  font-family: Arial, sans-serif;
  font-size: 50px;
}

.voltar_2{
  font-family: Arial, sans-serif;
  color: #ed03f5
}

